* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

/* Fondo */
.background {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #d9f7d6 0%,
    #c9f2f5 30%,
    #cfe3ff 65%,
    #b7d4ff 100%
  );
  padding: 25px 60px;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
}


.logo img {
  height: 120px;            /* altura real pequeña → no empuja nada */
  object-fit: contain;
  margin-bottom: 10px;
  transform: scale(2.8);    /* 🔥 logo realmente grande */
  transform-origin: left center;
}

/* Título */
.title {
  text-align: center;
  margin: 10px 0 20px;
  font-size: 34px;
  color: #2438a7;
  letter-spacing: 1px;
}

/* Recuadro principal */
.card {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 50px 110px;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 50px;
}

/* Formulario */
.form {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-bottom: 35px;
}

/* Label */
label {
  font-size: 24px;
  color: #2438a7;
  white-space: nowrap;
}

/* Input */
input {
  flex: 1;
  height: 52px;
  border-radius: 16px;
  border: 1.5px solid #000;
  padding: 0 18px;
  font-size: 18px;
  background: #fff;
}

/* Botón */
button {
  display: block;
  margin: 0 auto;
  padding: 14px 65px;
  font-size: 24px;
  color: #2438a7;
  background: #b69cff;
  border: none;
  border-radius: 22px;
  cursor: pointer;
}

button:hover {
  background: #a58bff;
}