.recuperar-link {
  display: block;
  margin-top: 10px;
  color: #8e44ad; /* morado como tu botón */
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.recuperar-link:hover {
  color: #732d91;
  text-decoration: underline;
}
