/* Reset y box-sizing */
* {
  box-sizing: border-box;
}

/* Estilos generales del body */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f9f9f9;
}

/* Imágenes globales */
img {
  max-width: 100%;
  height: auto;
  display: block; /* evita comportamiento inline extraño */
}

/* Links y botones globales */
a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

/* Scroll suave opcional */
html {
  scroll-behavior: smooth;
}
