.layout {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #c9f7dd, #a7c7ff);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.layout-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
/* MENU */
.layout-header .avatar-wrapper,
.layout-header .menuadmin-wrapper {
  position: absolute;
  top: 30px;   /* ⬅️ misma altura que el logo */
  left: 20px;
}

/* LOGO */
.app-logo {
  position: absolute;
  top: -40px;
  right: -5px;
  width: 200px;
  z-index: 100;
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 100px;
}
body {
  margin: 0;
}

/* ===== PAGINACIÓN ===== */
.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-top: 24px;
  width: 100%;
}

/* BOTONES FLECHAS */
.paginacion button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(155, 123, 255, 0.3);
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(6px);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #9b7bff;
  font-weight: bold;
}

/* TEXTO PAGINA */
.paginacion span {
  font-size: 14px;
  font-weight: 600;
  color: #1f3bb3;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  margin-top: 28px;
}

.paginacion button:hover:not(:disabled) {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(14px) saturate(140%);
  transform: scale(1.05);
}

/* ===== LOADING GLOBAL ===== */

.cargando-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.cargando-contenido {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  padding: 40px 60px;
  border-radius: 18px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
}

.cargando-texto {
  font-size: 18px;
  font-weight: 600;
  color: #6b4eff;
}

/* MOBILE */
@media (max-width: 768px) {

  .app-logo {
    position: static;
    margin: -35px auto 10px;
    width: 140px;
  }
}